Source: libredfish
Priority: optional
Section: libs
Maintainer: Patrick Boyd <Patrick_Boyd@Dell.com>
Build-Depends: libcurl-dev, libjansson-dev, libreadline-dev
Standards-Version: 3.9.8
Homepage: https://dmtf.github.io/libredfish/
Vcs-Git: https://github.com/DMTF/libredfish.git
Vcs-Browser: https://github.com/DMTF/libredfish

Package: libredfish
Architecture: all
Depends: libcurl, libjansson, libreadline
Description: libRedfish is a C client library that allows for Creation of Entities (POST), Read of Entities (GET), Update of Entities (PATCH), Deletion of Entities (DELETE), running Actions (POST), receiving events, and providing some basic query abilities.
